* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 10px;
  font-family: "PT Serif", serif;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: black;
}

button {
  color: #fff;
  background: linear-gradient(20deg, #249899 14%, #6fe2e3 80.5%);
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px #f5f5f5;
  transition: 0.3s;
}

button:hover {
  background: #fff;
  color: #249899;
  border: 1px solid #249899;
  cursor: pointer;
}

header,
section,
article {
  display: flex;
  flex-wrap: wrap;
}
article {
  width: 100%;
  padding: 4%;
  background-color: white;
  box-shadow: 2px 3px 10px 2px #d6d6d6;
}

section h2 {
  width: 100%;
  font-size: 1.6rem;
  line-height: 2;
  padding: 5% 10% 2.5%;
  text-shadow: 2px 2px 5px #d6d6d6;
}

/* -----------------------------
NAVIGATION
----------------------------- */

nav {
  width: 100%;
}

nav label {
  position: fixed;
  top: 0;
  right: 0;
  margin: 5%;
  font-size: 2rem;
  text-shadow: 1px 1px 5px white;
  z-index: 10;
}

#menu {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

nav ul {
  display: none;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}

#menu:checked + ul {
  display: flex;
}

nav ul > li {
  width: 100%;
  padding: 3%;
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  list-style: none;
  overflow: hidden;
  transition: 0.3s;
}

nav ul > li:hover {
  background-color: #6fe2e3;
  cursor: pointer;
  letter-spacing: 5px;
}

/* -----------------------------
HEADER
----------------------------- */

header {
  position: relative;
  background-image: url("imgs/header_mobile.jpg");
  margin: 12.5vh 0 0;
  height: 50vh;
  background-size: cover;
  background-position: center;
}

header h1 {
  align-self: flex-end;
  padding: 5%;
  width: 100%;
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.4rem;
  text-shadow: 0 0 5px black;
}
header h2 {
  width: 100%;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  text-shadow: 0 0 5px black;
  padding: 5%;
}

/* -----------------------------
UNDER-HEADER
----------------------------- */
#under-header {
  justify-content: center;
  width: 100%;
  height: 37.5vh;
  align-content: center;
}

#under-header h3 {
  width: 100%;
  padding: 0 5%;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
}

#under-header a {
  color: white;
  transition: 0.3s;
}

#under-header button:hover a {
  color: #249899;
}

#under-header button {
  font-size: 1rem;
  line-height: 2.5;
  width: 40%;
  margin: 5%;
}

/* -----------------------------
ABOUT
----------------------------- */

#about {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 5%;
  padding: 2.5% 5% 7.5%;
}

#about::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 70%;
  height: 100%;
  background-color: #f5f5f5;
  z-index: -10;
}

#about h2 {
  text-align: left;
}

#about img {
  width: 100%;
  padding: 5%;
  border-radius: 50%;
}

.short-info,
.long-info {
  width: 100%;
  padding: 5%;
  font-size: 0.8rem;
  line-height: 2;
  text-align: justify;
}

.strong {
  font-weight: bold;
}

/* -----------------------------
SKILLS
----------------------------- */

#skills {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2.5% 5% 7.5%;
}

#skills::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 70%;
  height: 100%;
  background-color: #f5f5f5;
  z-index: -10;
}

#skills h2 {
  text-align: right;
}

#skills article {
  justify-content: center;
}

#skills div {
  width: 100%;
  text-align: center;
  padding: 5%;
}

#skills i {
  font-size: 2rem;
  padding: 5%;
  color: #249899;
}

#skills h3 {
  font-size: 1.2rem;
  padding: 2.5%;
}

#skills p {
  font-size: 0.8rem;
  padding: 2.5%;
}

/* -----------------------------
PROJECTS
----------------------------- */
#portfolio {
  padding-top: 2.5%;
}
#portfolio h2 {
  text-align: center;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.project {
  position: relative;
  width: 95%;
  margin: 2.5% auto;
}

.project-info {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  background-color: #249899;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.3s;
}

.project:hover .project-info {
  transform: scale(1);
  cursor: pointer;
}

.project-info a button {
  display: block;
  padding: 15px 20px;
  margin: 10px;
  font-size: 0.8rem;
  box-shadow: none;
}

.project img {
  display: block;
  width: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 5px #f5f5f5;
}

/* -----------------------------
CONTACT
----------------------------- */
#contact {
  margin-top: 5%;
  background-color: #f5f5f5;
  padding-bottom: 5%;
}

#contact h2 {
  text-align: center;
}

.social-media {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 95%;
  background-color: #249899;
  padding: 5%;
  margin: 2.5% auto 0;
}

.social-media::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #249899;
  transform: translate(0, 50%) rotate(45deg);
}

#contact h3 {
  text-align: center;
  padding: 2.5% 0 5%;
  width: 100%;
  font-size: 1.2rem;
  text-shadow: 0 0 10px white;
}

.social-media .wrapper {
  width: 80%;
  text-align: center;
}

.social-media img {
  width: 40px;
  height: 40px;
  margin: 5%;
  border-radius: 15px;
  box-shadow: 0 0 10px 2px white;
  transition: 0.2s;
}

.social-media img:hover {
  transform: scale(1.2);
}

.social-media p {
  text-align: center;
  font-size: 0.9rem;
  padding: 5%;
  line-height: 1.5;
  text-shadow: 0 0 10px white;
}

form {
  background-color: white;
  padding: 10% 5% 5%;
  width: 95%;
  margin: 0 auto;
}

form input,
form textarea {
  display: block;
  font-size: 0.8rem;
  width: 95%;
  padding: 7px;
  margin: 7px auto;
  border-radius: 10px;
  border: 1px solid gray;
}

form button {
  display: block;
  font-size: 1rem;
  width: 30%;
  padding: 2.5% 5%;
  margin: 0 auto;
}

/* -----------------------------
FOOTER
----------------------------- */

footer {
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
}

footer p {
  transform: translateX(0%);
  width: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 0.8rem;
  opacity: 0.7;
  animation: stopka 10s infinite linear;
}

/* -----------------------------
MEDIA QUERIES
----------------------------- */

@media (min-width: 481px) {
  section h2 {
    font-size: 1.8rem;
  }
  header h1 {
    letter-spacing: 7px;
    font-size: 1.8rem;
  }
  header h2 {
    font-size: 1.4rem;
  }
  nav ul > li,
  #under-header h3,
  #skills h3,
  #contact h3 {
    font-size: 1.3rem;
  }
  #under-header button {
    width: 25%;
    margin: 5%;
  }
  .short-info,
  .long-info,
  #skills p,
  .project-info a button,
  .social-media p,
  form input,
  form textarea {
    font-size: 1rem;
  }
  #skills i {
    font-size: 2.5rem;
  }
  .project {
    width: 90%;
    margin: 2.5% auto;
  }
  .social-media img {
    width: 45px;
    height: 45px;
  }
}

@media (orientation: landscape), (min-width: 568px) {
  article {
    padding: 2%;
  }
  header h1,
  header h2 {
    padding: 3%;
  }
  #under-header button {
    margin: 3%;
    width: 20%;
  }
  #about img {
    width: 50%;
    padding: 5%;
  }
  .short-info {
    width: 50%;
    align-self: center;
  }
  .long-info {
    padding-top: 0;
    width: 100%;
  }
  #skills div {
    width: 33%;
    padding: 5% 3%;
  }
  #skills div:nth-of-type(2) {
    border-left: 3px dotted #249899;
    border-right: 3px dotted #249899;
  }
  .project {
    width: 45%;
    margin: 2.5% auto;
  }
  .project img {
    width: 100%;
  }
  #contact h3 {
    padding: 2.5%;
  }
  .social-media,
  form {
    width: 80%;
  }
  form {
    padding: 5% 10%;
  }
}

@media (min-width: 1024px) {
  article {
    padding: 3%;
  }
  section h2 {
    font-size: 2.2rem;
  }
  nav label {
    display: none;
  }
  nav ul {
    display: flex;
    justify-content: flex-end;
  }
  nav ul > li {
    width: 22%;
    /* padding: 4% 2%; */
    font-size: 1.5rem;
  }
  header {
    background-image: url("imgs/header_pc.jpg");
    margin: 10vh 0 0;
  }
  header h1 {
    letter-spacing: 12px;
    font-size: 2.4rem;
  }
  header h2 {
    font-size: 1.4rem;
  }
  #under-header {
    height: 40vh;
  }
  #under-header h3,
  #skills h3 {
    font-size: 1.3rem;
  }
  #under-header button {
    font-size: 1.1rem;
    line-height: 3;
    width: 20%;
    margin: 2.5%;
  }
  #about img {
    width: 20%;
    padding: 1%;
    border-radius: 50%;
    align-self: flex-start;
  }
  .short-info,
  .long-info {
    padding: 3% 0 3% 3%;
    font-size: 1rem;
    line-height: 2;
    text-align: justify;
  }
  .short-info {
    width: 25%;
    height: 100%;
    align-self: flex-start;
    border-right: 4px dotted #249899;
  }
  .long-info {
    width: 55%;
  }
  #skills i {
    font-size: 2.8rem;
  }
  #skills p {
    font-size: 1.1rem;
  }
  #contact {
    justify-content: center;
  }
  .social-media {
    width: 45%;
    padding: 5%;
    margin: 0;
  }
  .social-media::after {
    bottom: 30%;
    left: 100%;
    transform: translate(-50%, 0) rotate(45deg);
  }
  #contact h3 {
    font-size: 1.4rem;
    padding-bottom: 0;
  }
  .social-media img {
    width: 50px;
    height: 50px;
    margin: 5%;
  }
  .social-media p {
    font-size: 1rem;
  }
  form {
    padding: 2.5%;
    width: 45%;
    margin: 0;
  }
  form input,
  form textarea {
    font-size: 1rem;
    padding: 10px;
    margin: 10px auto;
  }
}

@media (min-width: 1280px) {
  article {
    padding: 4%;
  }
  section h2 {
    font-size: 2.4rem;
  }
  nav ul > li,
  header h2 {
    font-size: 1.8rem;
    padding: 2%;
  }
  header h1 {
    letter-spacing: 15px;
    font-size: 2.8rem;
    padding: 2%;
  }
  #under-header h3,
  #skills h3,
  #contact h3 {
    font-size: 1.6rem;
  }
  #under-header button {
    font-size: 1.4rem;
    width: 15%;
    margin: 2.5%;
  }
  .short-info,
  .long-info {
    padding: 4% 0 4% 4%;
    font-size: 1.2rem;
  }
  #skills div:nth-of-type(2) {
    border-left-width: 4px;
    border-right-width: 4px;
  }
  #skills i {
    font-size: 3rem;
  }
  #skills p,
  .social-media p,
  form input,
  form textarea {
    font-size: 1.2rem;
  }
  .project {
    width: 45%;
    margin: 2.5% auto;
  }
  .project img {
    width: 100%;
  }
  .project-info a button {
    padding: 20px 30px;
    margin: 15px;
    font-size: 1.2rem;
    box-shadow: none;
  }
  .social-media img {
    width: 55px;
    height: 55px;
  }

  footer p {
    animation-duration: 15s;
  }
}

@keyframes stopka {
  0% {
    transform: translateX(80%);
  }
  100% {
    transform: translateX(-80%);
  }
}
