* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: "Times New Roman", Times, serif;
  background-color: #fff;
}

button {
  color: #fff;
  background: linear-gradient(20deg, #249899 14%, #6fe2e3 80.5%);
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px #e5e5e5;
  transition: 0.3s;
}

button:hover {
  background: #fff;
  color: #249899;
  border: 1px solid #249899;
  cursor: pointer;
}

/* -----------------------------
NAVIGATION
----------------------------- */

nav {
  width: 100%;
}

nav label {
  position: fixed;
  top: 0;
  right: 0;
  margin: 5%;
  font-size: 2rem;
  z-index: 10;
}

#menu {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

nav ul {
  display: none;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}

#menu:checked + ul {
  display: flex;
}

nav ul > li {
  width: 100%;
  padding: 3%;
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  list-style: none;
  overflow: hidden;
  transition: 0.3s;
}

nav ul > li:hover {
  background-color: #6fe2e3;
  cursor: pointer;
  transform: scale(1.1);
}

/* -----------------------------
HEADER
----------------------------- */

header {
  position: relative;
  background-image: url("imgs/header_mobile.jpg");
  margin: calc(2rem + 10%) 0 5%;
  height: 25vh;
  background-size: cover;
  background-position: center;
}

header h1 {
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.4rem;
}
header h2 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(50%);
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
}

/* -----------------------------
UNDER-HEADER
----------------------------- */
#under-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#under-header h3 {
  width: 100%;
  padding: 0 5%;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
}
#under-header button {
  font-size: 1rem;
  line-height: 2.5rem;
  width: 40%;
  margin: 5%;
}

/* -----------------------------
MEDIA QUERIES
----------------------------- */

@media (min-width: 1280px) {
  nav label {
    display: none;
  }
  nav ul {
    display: flex;
    justify-content: flex-end;
  }
  nav ul > li {
    width: 15%;
    margin: 5px 0;
    padding: 2%;
    font-size: 1.8rem;
  }
  header {
    background-image: url("imgs/header_pc.jpg");
    margin: calc(2rem + 5%) 0 2.5%;
    height: 35vh;
  }

  header h1 {
    letter-spacing: 15px;
    font-size: 2.8rem;
  }
  header h2 {
    font-size: 1.8rem;
  }
  #under-header h3 {
    font-size: 1.6rem;
  }
  #under-header button {
    font-size: 1.4rem;
    line-height: 3rem;
    width: 15%;
    margin: 2.5%;
  }
}
